---
- name: Define Consul Services
  set_fact:
    consul_services:
      - id:   '{{ status_go_service_name }}'
        name: '{{ status_go_service_name }}'
        port: '{{ status_go_node_alt_port }}'
        tags: ['statusd', 'devp2p', '{{ status_go_consul_extra_tag }}']
        meta:
          node_id: '{{ status_go_node_id }}'
          node_enode: '{{ status_go_node_enode }}'
          waku_v1_enabled: '{{ status_go_waku_v1_enabled | string }}'
          waku_v2_enabled: '{{ status_go_waku_v2_enabled | string }}'
        checks:
          - id:   '{{ status_go_service_name }}-health'
            type: 'tcp'
            tcp:  'localhost:{{ status_go_node_listen_port }}'

      - id: '{{ status_go_service_name }}-metrics'
        name: '{{ status_go_service_name }}-metrics'
        port: '{{ status_go_node_metrics_port }}'
        address: '{{ ansible_local.wireguard.vpn_ip }}'
        tags: ['statusd', 'metrics', '{{ status_go_consul_extra_tag }}']
        checks:
          - id:   '{{ status_go_service_name }}-metrics-health'
            type: 'http'
            http: 'http://localhost:{{ status_go_node_metrics_port }}/health'

      - id: '{{ status_go_service_name }}-rpc'
        name: '{{ status_go_service_name }}-rpc'
        port: '{{ status_go_node_rpc_port }}'
        address: '{{ ansible_local.wireguard.vpn_ip }}'
        tags: ['statusd', 'rpc', '{{ status_go_consul_extra_tag }}']
        checks:
          - id:     '{{ status_go_service_name }}-rpc-health'
            type:   'script'
            script: 'curl -s -X POST -H Content-type:application/json --data {"jsonrpc":"2.0","method":"admin_nodeInfo","params":[],"id":1} http://localhost:{{ status_go_node_rpc_port }}/'

- name: Remove metrics Consul service
  set_fact:
    consul_services: |
      {{ consul_services | rejectattr('name', 'match', '.*-metrics$') | list }}
  when: not status_go_node_metrics_enabled

- name: Create Consul service definition - mail
  include_role: name=consul-service
  vars:
    consul_config_name: '{{ status_go_service_name | replace("-", "_") }}'
