---
- name: Generate config
  include_tasks: config.yml

- name: Create key files
  include_tasks: keys.yml

- name: Create container
  include_tasks: docker.yml

- name: Configure database
  when: status_go_mailserver_enabled
  include_tasks: database.yml

- name: Query Node for address
  include_tasks: query.yml

- name: Configure Consul service
  include_tasks: consul.yml

- name: Configure DB Backups
  include_tasks: backup.yml
  when: status_go_db_backup_enabled

- name: Configure restarts
  include_tasks: restart.yml
  when: status_go_restart_enabled
