{
  "LogLevel": "{{ status_go_log_level }}",
  "IPCEnabled": true,
  "HTTPEnabled": true,
  "HTTPHost": "0.0.0.0",
  "HTTPPort": {{ status_go_node_rpc_port }},
  "MaxPeers": 5000,
  "APIModules": "eth,web3,admin,waku,wakuext",
  "DataDir": "/data",
  "EnableNTPSync": true,
  "ListenAddr": "0.0.0.0:{{ status_go_node_listen_port }}",
  "AdvertiseAddr": "{{ ansible_host }}",
  "NodeKey": "{{ status_go_node_key }}",
  "NetworkID": {{ status_go_eth_network }},
  "Rendezvous": true,
  "RegisterTopics": [ "{{ status_go_topic }}" ],
  "RequireTopics": { "whisper": { "min": 3, "max": 4 } },
  "WakuConfig": {
    "Enabled": {{ status_go_waku_enabled | to_json }},
    "EnableMailServer": true,
    "EnableConfirmations": {{ status_go_confirmations_enabled | to_json }},
    "FullNode": true,
    "MailServerPassword": "{{ status_go_wnode_password }}",
    "DataDir": "/data/waku",
    "EnableRateLimiter": true,
    "RateLimitIP": 5,
    "RateLimitPeerID": 5,
    "RateLimitTolerance": 3,
    "MailServerDataRetention": 30,
    "DatabaseConfig": {
      "PGConfig": {
        "Enabled": true,
        "URI": "postgres://{{ status_go_db_user }}:{{ status_go_db_pass }}@{{ status_go_db_host }}:{{ status_go_db_port }}/{{ status_go_waku_db_name }}{{ status_go_db_opts }}"
      }
    }
  },
  "PushNotificationServerConfig": {
    "Enabled": {{ status_go_pn_server_enabled | to_json }},
    "GorushURL": "{{ status_go_pn_server_gorush_url }}"
  },
  "ClusterConfig": {
    "Enabled": true,
    "BootNodes": [
{% for node in boot_nodes %}
      "{{ node }}"{{ "," if not loop.last }}
{% endfor %}
    ],
    "RendezvousNodes": [
{% for node in rendezvous_addresses %}
      "{{ node }}"{{ "," if not loop.last }}
{% endfor %}
    ]
  }
}
