---
version: '3.7'
services:
  node:
    container_name: '{{ status_go_node_cont_name }}'
    image: '{{ status_go_node_cont_image }}'
    entrypoint: 'statusd'
    user: 'root'
    restart: 'always'
    deploy:
      resources:
        # some limits due to statusd hogging resources
        limits:
          memory: '{{ cont_mem_limit }}m'
    labels:
      # enable image updates via watchtower
      com.centurylinklabs.watchtower.enable: '{{ status_go_watchtower_enabled|lower }}'
    ports:
      - '{{ status_go_node_listen_port }}:{{ status_go_node_listen_port }}/tcp'
      - '{{ status_go_node_listen_port }}:{{ status_go_node_listen_port }}/udp'
      - '{{ status_go_node_alt_port }}:{{ status_go_node_listen_port }}/tcp'
      - '{{ status_go_node_alt_port }}:{{ status_go_node_listen_port }}/udp'
      - '{{ status_go_node_rpc_port }}:{{ status_go_node_rpc_port }}/tcp'
{% if status_go_node_metrics_enabled %}
      - '{{ status_go_node_metrics_port }}:{{ status_go_node_metrics_port }}/tcp'
{% endif %}
{% if status_go_node_pprof_enabled %}
      - '127.0.0.1:{{ status_go_node_pprof_port }}:{{ status_go_node_pprof_port }}/tcp'
{% endif %}
    volumes:
      - '{{ status_go_node_cont_vol }}/keys:/keys/:ro'
      - '{{ status_go_node_cont_vol }}/data:/data/:rw'
      - '{{ status_go_node_cont_vol }}/conf:/conf/:ro'
    command: |
      -log-without-color
      -c=/conf/config.json
      -dir=/data
{% if status_go_node_metrics_enabled %}
      -metrics
      -metrics-port={{ status_go_node_metrics_port }}
{% endif %}
{% if status_go_node_pprof_enabled %}
      -pprof
      -pprof-port={{ status_go_node_pprof_port }}
{% endif %}
{% if status_go_mailserver_enabled %}
    depends_on:
      - 'db'
{% endif %}
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:{{ status_go_node_metrics_port }}/health"]
      interval: 30s
      timeout: 10s
      retries: 3
{% if status_go_mailserver_enabled %}

  db:
    container_name: '{{ status_go_db_cont_name }}'
    image: '{{ status_go_db_cont_image }}'
    restart: always
    environment:
      POSTGRES_DB:       '{{ status_go_db_name | mandatory }}'
      POSTGRES_USER:     '{{ status_go_db_user | mandatory }}'
      POSTGRES_PASSWORD: '{{ status_go_db_pass | mandatory }}'
      # This fixes chmod errors on DB startup due to volume + userns-remap
      PGDATA: '/var/lib/postgresql/data/pgdata'
    ports:
      - '{{ status_go_db_cont_port }}:{{ status_go_db_cont_port }}'
    command: '-p {{ status_go_db_cont_port }}'
    tmpfs:
      - '/run/postgresql:size=512K'
      - '/tmp:size=256K'
    volumes:
      - '{{ status_go_db_cont_vol }}/data:/var/lib/postgresql/data'
      - '{{ status_go_db_cont_vol }}/backup:/backup'
    healthcheck:
      test: ["CMD", "pg_isready", "-p{{ status_go_db_cont_port }}", "-U{{ status_go_db_user }}"]
      interval: 30s
      retries: 3
{% endif %}
