#!/usr/bin/env bash
EXEC_FLAGS='-i'
# If TTY is attached Docker needs to know too.
if [[ -t 0 ]]; then
    EXEC_FLAGS='-it'
fi
exec docker exec ${EXEC_FLAGS} statusd-mail-db \
    psql $@ \
        -U {{ status_go_db_user }} \
        -p {{ status_go_db_cont_port }} \
        -d {{ status_go_waku_db_name }}
